.js-clock{
    display:flex;
    justify-content: center;
    margin-top : 10%;
    height : 150px;
    font-size: 38px;
    color:white;
}
/*화면크기를 인지시켜 시계가 가운데 또는 가운데 위에 있게하자!*/

.js-weather{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color:white;
}

.form,
.greetings {
    display : none;
    font-size: 26px;
}

.showing {
    display : block;
}

.js-greetings{
    display:flex;
    justify-content: center;
    margin : 0px;
    font-size: 40px;
}
.js-toDoForm{
    display:flex;
    justify-content: center;
    margin-top : 20px;
}

body{
    color:white;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index: -1;    
    animation : fadeIn 0.5s linear;
}